{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}
<div class="navigation-inner clearfix" role="navigation" aria-label="{{_globals._accessibility._ariaLabels.navigation}}">
   <button class="base navigation-back-button icon icon-controls-small-left" href="index.html" data-event="backButton" title="Home"></button>
    <button class="base navigation-drawer-toggle-button icon icon-list" data-event="toggleDrawer" title="Resources"></button>
    <button class="base icon glossary-btn " title="Glossary"></button>
     <a class="base text-worker" data-event="" aria-label="">Personal Wellness and Resilience </a>
     <a class="base text-manager" data-event="" aria-label="">Personal Wellness and Resilience </a>
  <!--  <a href='course/en/doc/certificate_eng.htm' target="_blank" class="icon certificate_img icon-list certificate-button" role="button" aria-label="show certificate"></a>
-->
</div>